<div class="back-button-container">
<%= link_to workout_sessions_path, class: "btn-back" do %>
  <i class="far fa-arrow-alt-circle-left"></i>
<% end %>
</div>

<div>
  <h1>Workout_session new page</h1>
</div>


<div class="container">
  <%= simple_form_for(@session) do |f| %>
    <%= f.association :workout, collection: current_user.workouts, prompt: 'Select a workout'%>
    <%= f.input :time %>
    <%= f.submit value: 'Create Workout Session', class:'btn btn-primary' %>
  <% end %>
</div>

<div class="container">
  <%= simple_form_for(@workout) do |f| %>
    <%= f.input :name %>
    <%= f.input :workout_type %>
    <%= f.submit value: 'Create New Workout', class:'btn btn-primary' %>
  <% end %>
</div>
