<%= link_to root_path, class: "btn-back" do %>
<i class="fas fa-arrow-left"></i>
<% end %>
<div class="wsheading">
  <h2><%= "#{@session.workout.name}" %></h2>
</div>
<div class = ""></div>
<h3><%= "Workout Type: #{@session.workout.workout_type}" %></h3>

<%= render "shared/exercises", exercises: @session.workout.workout_exercises %>
<%= link_to 'Back', workout_sessions_path %>
