<div class="back-button-container">
<%= link_to chatrooms_path, class: "btn-back" do %>
  <i class="far fa-arrow-alt-circle-left"></i>
<% end %>
</div>

<div class="chatroom-container">
  <div class="chat-avatar">
    <img class="h-8 w-8 rounded-full" src=<%= @chatroom.users.find { |user| user != current_user}.avatar_url %> alt="">
    <h4 class='chat-username'><%= @chatroom.users.find { |user| user != current_user}.username %></h4>
  </div>
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>" style="height: 70vh; overflow: scroll;">
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>


  <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
    <div class="d-flex align-items-center chatbox-form">
      <%= f.input :content, wrapper_html: { class: "flex-grow-1 p-2 mb-0" }, label: false, placeholder: "New Message" %>
        <%= button_tag(type: "submit", class: "btn btn-success mr-2", id: "send-btn")do %>
            <i class="fas fa-arrow-circle-right"></i>
        <% end %>
    </div>
  <% end %>
</div>
