<div class="back-button-container">
<%= link_to workout_path(@workout), class: "btn-back" do %>
  <i class="far fa-arrow-alt-circle-left"></i>
<% end %>
</div>

<div class="ws-heading">
  <h2>Add a New Exercise</h2>
</div>

<%= simple_form_for([@workout, @workout_exercise]) do |f| %>
<%= f.input :name, label: 'Name Of Exercise?'%>
<%= f.input :reps, label: 'How Many Reps?'%>
<%= f.input :sets, label: 'How Many Sets?'%>
<%= f.input :weight, label: 'How Much Weight?'%>
<div class="form-actions">
    <%= f.button :submit, { class: 'btn btn-primary' } %>
  </div>
<% end %>
