<div class="ex-card">
  <% exercises.each do |workout_log|  %>
    <div class="ex-card-body">
      <div class="top-line-ws">
        <h4><%= "#{workout.name}" %>  -  <%= "#{workout.workout_type}" %></h4>
      </div>
      <div>
        <div class="exercise_card_heading">
            <p class = "exercise_name"><%= "Exercise: #{workout_log.name}" %></p>
            <div class = "info">
              <p class= "information"><b>Reps:</b><span><%="#{workout_log.reps}"%></span></p>
              <p class= "information"><b>Sets:</b><span><%="#{workout_log.sets}"%></span></p>
              <p class= "information"><b>Weight:</b><span><%="#{workout_log.weight}"%></span></p>
            </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
