<% foods.each do |food|  %>
  <div class="food-card-body">
    <div class="food-card">
      <div class = "food_name">
        <h2><%= " #{food.name}" %></h2>
      </div>
      <div class="flex-container">
        <div class="flex-child magenta">
          <div class="card-heading">
          <% total =  food.carbs + food.protein + food.fats %>
              <p><%= "Carbs: #{food.carbs}g" %></p>
              <div class = "carbs_line">
              <% carbs_total = food.carbs.fdiv(total) * 100%>
              <div class = "carbs_percent" style = "width:<%=carbs_total%>%;">
              </div>
              </div>
              <p><%= "Proteins: #{food.protein}g" %></p>
              <div class = "protein_line">
               <% protein_total = food.protein.fdiv(total) * 100 %>
              <div class = "protein_percent" style = "width:<%=protein_total%>%;">
              </div>
              </div>
              <p><%= "Fats: #{food.fats}g" %></p>
              <div class = "fats_line">
              <% fats_total = food.fats.fdiv(total) * 100%>
              <div class = "fats_percent" style = "width:<%=fats_total%>%;">
              </div>
          </div>
        </div>
          <p class = "calories"><%= "Calories: #{food.calories} cals"%></p>
          <p><%= link_to "Delete this food", food_path(food), method: :delete, class:"delete_food_button" %></p>
      </div>
    </div>
  </div>
<% end %>
