<div class="food-card-body">
  <% foods.each do |food|  %>
    <div class="food-card">
      <div class = "food_name">
        <h1><%= " #{food.name}" %></h1>
      </div>
      <div class="flex-container">
        <div class="flex-child magenta">
          <div class="card-heading">
              <p><%= "Carbs: #{food.carbs}g" %></p>
              <p><%= "Proteins: #{food.protein}g" %></p>
              <p><%= "Fats: #{food.fats}g" %></p>
              <p><%= "Calories: #{food.calories} cals" %></p>
              <p><%= link_to "Delete this food", food_path(food), method: :delete, class:"delete_food_button" %></p>
          </div>
        </div>
        <div class="flex-child green">
          <div id="my-pie-chart"></div>
          <% total =  food.carbs + food.protein + food.fats %>
          <% carbs_total = food.carbs/total %>
          <% protein_total = food.protein/total %>
          <% fats_total = food.fats/total %>
        </div>
      </div>
      </div>
    </div>
  <% end %>
</div>
