<div class="navbarheader">
  <nav class="nav">
  <%= link_to root_path, class: "link" do %>
      <i class="fas fa-home"></i>
    <% end %>
    <%= link_to workout_sessions_path, class: "link" do %>
      <i class="fas fa-dumbbell"></i>
    <% end %>
    <%= link_to meal_eatens_path, class: "link" do %>
      <i class="fas fa-utensils"></i>
    <% end %>
    <%= link_to chatrooms_path, class: "link" do %>
      <i class="fas fa-comments"></i>
    <% end %>
    <%= link_to destroy_user_session_path, class: "link", method: :delete do %>
      <i class="fas fa-sign-out-alt"></i>
    <% end %>
  </nav>
</div>
