<div class="navbarheader">
  <h3><%= link_to "Dynami", root_path, class: "logo" %></h3>
  <nav class="nav">
    <%= link_to workout_sessions_path, class: "link" do %>
      <i class="fas fa-dumbbell"></i>
    <% end %>
    <%= link_to meal_eatens_path, class: "link" do %>
      <i class="fas fa-utensils"></i>
    <% end %>
    <%= link_to chatrooms_path, class: "link" do %>
      <i class="fas fa-comments"></i>
    <% end %>
  </nav>
  <h4><%= link_to "Log Out", destroy_user_session_path, class: "logo", method: :delete  %></h4>
</div>
