<div class= "card-container">
  <% @posts.each do |post| %>
  <div>
    <div class = "postpage">
      <h2 class="h2_new"><%= post.user.username%></h2>
      <%= link_to post_path(post) do %>
        <%= cl_image_tag post.photo.key, height: 300, width: 400, crop: :fill, class:"post_page_card_image" %>
      <% end %>
      <ul class = "list-inline">
        <li>
          <div class="like_subscribe <%= "liked" if liked?(post) %>" data-post-id="<%= post.id %>">
            <i class="fas fa-heart"></i>
          </div>
        </li>
        <li>
        <%= link_to  post_path(post) do %>
          <div class="comments">
            <i class="far fa-comments"></i>
          </div>
        <% end %>
        </li>
        <li>
          <div class="share_icon">
            <i class="far fa-paper-plane"></i>
          </div>
        </li>
        <li>
          <div class="bookmark_icon">
            <i class="far fa-bookmark"></i>
          </div>
        </li>
      </ul>

    <div class="bottom_half">
        <div class="likedby">
          <% if post.likes.count >= 1  %>
            <p><%= pluralize post.likes.count, "like" %></p>
          <% end %>
        </div>


        <div class= "user_caption">
          <strong><p><%= post.user.username %> - </strong><%= post.caption %></p>
        </div>
        <div class = "new_comments">
          <% comment = post.comments.last %>
          <% if comment %>
            <div class= "post_comments">
              <strong><p><%= comment.user.username %></strong> <span><%= comment.content %></span></p>
            </div>
          <% end  %>
          <% if post.comments.count > 1 %>
            <div class= "post_comments">
              <%= link_to "See more comments (#{post.comments.count - 1})", post_path(post) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
