<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs text-xlg">
    <%= f.input :email,
                required: false,
                autofocus: true,
                # input_html: { autocomplete: "email" },
                label: false,
                placeholder: "email" %>
    <%= f.input :password,
                required: false,
                # input_html: { autocomplete: "current-password" },
                label: false,
                placeholder: "password" %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

<%= button_tag(type: 'submit', class: 'group relative w-full flex justify-center py-2 px-4 border border-transparent text-xlg font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500') do %>
      Log in
    <% end %>
<% end %>
