<%= link_to root_path, class: "btn-back" do %>
<i class="fas fa-arrow-left"></i>
<% end %>

<div class="food-container food-title">
  <h2>Your Food Log</h2>
  <%= link_to "Log A New Food", new_meal_eaten_path, class: "new-btn"  %>
</div>
<div class="food-container">
  <% @meal_eatens.each do |meal| %>
    <div class="me-card-container">
      <div class="me-card">
            <div class="card-heading">
              <div>
                <div class="top-line">
                  <h4 class="meal-type"><%= meal.meal_type %></h4>
                  <%= link_to meal_eaten_path(meal.id), method: :delete do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                </div>
                <h2 class="heading"><%= meal.meal.name %></h2>
                <%= meal.date %>
              </div>
              <div class= "info">
                <p class="information" ><b>Total Carbs: </b><span><%= meal.meal.total_carbs %></span></p>
                <p class="information" ><b>Total Protein: </b><span><%= meal.meal.total_proteins %></span></p>
                <p class="information" ><b>Total Fats: </b><span><%= meal.meal.total_fats %></span></p>
                <p class="information" ><b>Total Calories: </b><span><%= meal.meal.total_calories %></span></p>
              </div>
            </div>
            <div>
                <%= link_to "details", meal_path(meal.id), class: "details" %>
            </div>
            <%# <div class="ed-buttons">
            <p class="edit-btn">Edit</p>
            <p class="delete-btn">Delete</p>
            </div> %>
        </div>
    </div>
    <% end %>

</div>
