<%= render "shared/foods", foods: @meal.foods %>

<div class="container">
  <%= simple_form_for([@meal, @food]) do |f| %>
  <div class="d-flex align-items-center">
    <%= f.input :name, wrapper_html: { class: "flex-grow-1 p-2 mb-0" }, label: false %>
    <%= f.submit value: 'Add a food', class:'btn btn-primary' %>
  </div>
  <% end %>
    <%= link_to "Continue", new_meal_eaten_path, class: "continue"  %>
</div>
