<div>
    <% @posts.each do |post| %>
    <div class = "postpage">
      <h2><%= post.user.username %></h2>
      <%= link_to post_path(post) do %>
      <%= cl_image_tag post.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <ul class = "list-inline">
        <li>
          <div class="like_subscribe <%= "liked" if liked?(post) %>" data-post-id="<%= post.id %>">
            <i class="fas fa-heart"></i>
          </div>
        </li>
        <li>
          <div class="comments">
            <i class="far fa-comments"></i>
          </div>
        </li>
      </ul>
      <p><%= post.caption %></p>
    <% comment = post.comments.last %>
    <% if comment %>
      <p><%= comment.user.username %></p>
      <span><%= comment.content %></span>
    <% end  %>
    <% if post.comments.count > 1 %>
      <%= link_to "See more comments (#{post.comments.count - 1})", post_path(post) %>
    <% end %>
    </div>
  <% end %>
</div>
