<h2>new post method</h2>

<%= simple_form_for([@source, @post]) do |f| %>
<%= f.input :caption, label: 'Write a caption for your post!'%>
<%= f.input :photo, as: :file %>
<div class="form-actions">
    <%= f.button :submit, { class: 'btn btn-primary' } %>
  </div>
<% end %>

<% if @source.class == MealEaten %>
  <%= link_to "I don't want to share", meal_eatens_path %>
<% else %>
  <%= link_to "I don't want to share", workout_sessions_path %>
<% end %>
