<div class="back-button-container">
<%= link_to posts_path, class: "btn-back" do %>
  <i class="far fa-arrow-alt-circle-left"></i>
<% end %>
</div>
<h2>show page</h2>

<%= render "post", post: @post %>
  <% @post.comments.each do |comment| %>
  <p><%= comment.user.username %></p>
  <span><%= comment.content %></span>
  <% end %>

<%= simple_form_for([@post, @comment]) do |f| %>
<%= f.input :content, label: 'Leave a comment...'%>
<div class="form-actions">
    <%= f.button :submit, { class: 'btn btn-primary' } %>
  </div>
<% end %>
