<div class="back-button-container">
<%= link_to root_path, class: "btn-back" do %>
  <i class="far fa-arrow-alt-circle-left"></i>
<% end %>
</div>

<div class="post-show">
  <div class="img-container">
    <div class='img'>
    <%= cl_image_tag @post.photo.key, crop: :fit %>
    </div>
  </div>
  <div class="post-comments">
    <div class="coments">
      <div class="caption">
        <p><b><%= @post.user.username %></b> - </p>
        <span><%= @post.caption %></span>
      </div>
      <% @post.comments.each do |comment| %>
      <div class="comment">
        <p><b><%= comment.user.username %> - </b></p>
        <span><%= comment.content %></span>
      </div>
      <% end %>
    </div>

    <div class="comment-form">
      <ul class = "list-inline mb-2">
        <li>
          <div class="like_subscribe <%= "liked" if liked?(@post) %>" data-post-id="<%= @post.id %>">
            <% if liked?(@post) %>
              <i class="fas fa-heart"></i>
            <% else %>
              <i class="far fa-heart"></i>
            <% end %>
          </div>
        </li>
        <li>
          <div class="share_icon">
            <i class="far fa-paper-plane"></i>
          </div>
        </li>
        <li>
          <div class="bookmark_icon">
            <i class="far fa-bookmark"></i>
          </div>
        </li>
      </ul>
      <div class="likedby">
        <% if @post.likes.count >= 1  %>
          <p><%= pluralize @post.likes.count, "like" %></p>
        <% end %>
      </div>
      <div class="posted-at show-page-posted-at">
        <p>Posted at <%= @post.created_at.strftime("%l:%M%p") %> on the <%= @post.created_at.strftime("%d/%m/%C")  %></p>
      </div>
      <%= simple_form_for([@post, @comment]) do |f| %>
        <div class="post-comment">
          <%= f.input :content, label: false, class: "comment-input", placeholder: "comment"%>
          <div class="comment-btn">
            <%= f.submit value: "Post",class: 'comment-btn'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
