<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <title>Dynami - Get fit. Get social</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="Dynami - Get fit. Get social" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.phillymag.com%2Fbe-well-philly%2Fstrength-training-gyms%2F&psig=AOvVaw24QkS76K45m2H9tDuPDCT3&ust=1639007865832000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCNiJpqPy0vQCFQAAAAAdAAAAABAK"/>
    <meta property="og:description" content="Keep track of your nutrition intake and your workouts whist also keeping up with friends" />
    <meta property="og:site_name" content="Dynami - Get fit. Get social" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,600&family=Merriweather&family=Roboto:wght@400;500&display=swap');
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@900&display=swap');
    </style>
  </head>

  <body data-controller="hello">
    <% if user_signed_in?  %>
      <%= render 'shared/header' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
